/* BaseHeader */
.header {
  margin-bottom: 3.5rem;
}

.header--simplify{
  margin-bottom: 1rem;
}

.profile {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;

  &--left {
    display: flex;
    align-items: center;
  }

  &__img {
    height: 76px;
    width: 76px;
    margin-right: 1em;
  }

  &__text {
    display: flex;
    flex-direction: column;
    margin-right: 1em;
  }

  &__title {
    font-weight: 700;
    font-size: 1.5em;
    margin-top: 0;
  }

  &__social {
    a {
      margin-right: 0.5em;
    }
  }
}

.nav {
  margin-top: 1em;
}

/* Index.vue homepage */
.pages {
  &__title {
    margin-bottom: .25em;
    font-weight: 700;

    &--small {
      font-size: 2em;
    }
  }
  &__cover{
    margin: 2em 0 0 0;
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 1px 1px 8px 5px rgba(0, 0, 0, 0.2);
  }
  &__content {
    width: 100%;
    word-break: break-word;
    margin: 2em 0;
  }
  &__date {
    color: var(--textSubtitle);
  }
  &__item {
    margin-bottom: 3.5em;
  }
  &__lang {
    padding: .25em 1em;
    border-radius: .25em;
    background-color: var(--bgLighter);
    margin-bottom: 1em;
    display: table;
    cursor: pointer;
  }
  &__tags {
    display: flex;
    &--spacetop{
      margin-top: .5em;
    }
  }
  &__tag{
    margin-right: .5em;
    padding: 0 .5em;
    line-height: 1.5;
    border-radius: .25em;

    a{
      color: var(--bgLighter);
    }

    &:first-child{
      background-color: var(--textHighlight);
    }
    &:nth-child(2){
      background-color: var(--textTitle);
    }
    &:nth-child(3){
      background-color: var(--textSubtitle);
    }
  }
  &__sponsored{
    padding: .25em 1em;
    border-radius: .25em;
    background-color: var(--bgLighter);
  }
  &__footer{
    margin: 1em 0;
  }
}

.block-wrap{
  margin: 1em 0;
  display: flex;
  justify-items: center;
  align-items: center;
}

.like, .share{
  display: flex;
  &-btn{
    color: var(--textNormal);
    background: var(--textLink);
    padding: .25em 1em;
    border-radius: .25em;
    border: 0;
    outline: 0;
    cursor: pointer;
    margin-right: 1em;
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

/* ContentParser */
.pages__content{
  h2 {
    color: var(--textSubtitle);
  }
  h3 {
    color: var(--textWarning);
  }
  a {
    color: var(--textHighlight);
    text-decoration: underline;
  }
  p {
    line-height: 1.5;
  }
  img{
    width: 90%;
    height: auto;
    border-radius: 10px;
    box-shadow: 1px 1px 8px 5px rgba(0, 0, 0, 0.2);
    object-fit: cover;
  }

  ul, ol > li {
    line-height: 2;
  }
}
