/* override prism theme */
.token.keyword {
  color: var(--textLink) !important;
  font-style: italic;
}
.token.operator, .token.entity, .token.url, .language-css .token.string, .style .token.string, .token.variable,
.token.boolean, .token.number {
  color: var(--textSubtitle) !important;
}
.token.property, .token.tag, .token.constant, .token.symbol, .token.deleted {
  color: var(--textHighlight) !important;
}
.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
  color: var(--textTitle) !important;
}

.token.comment, .token.prolog, .token.doctype, .token.cdata {
  color: var(--textSecondary) !important;
  font-style: italic;
}
