:root {
  /* color pallete from https://github.com/dracula/dracula-theme */
  --bg: #282a36;
  --bgLighter: #44475a;
  --textNormal: #f8f8f2;
  --textTitle: #50fa7b;
  --textSubtitle: #8be9fd;
  --textLink: #bd93f9;
  --textHighlight: #ff79c6;
  --textWarning: #f1fa8c;
  --textDanger: #ff5555;
  --textSecondary: #6272a4;
}

body {
  font-family: 'Merriweather Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  font-size: 16px;
  word-spacing: 1px;
  line-height: 2;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  color: var(--textNormal);
  background-color: var(--bg);
}

.container {
  margin-left: auto;
  margin-right: auto;
  max-width: 42rem;
  padding: 2.625rem 1.3125rem;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

a {
  color: var(--textLink);
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

blockquote {
  font-style: italic;
  border-left: 4px solid var(--textSecondary);
  color: var(--textSecondary);
  margin: 0;
  padding: .25em 1em;
  font-size: 110%;
}

:not(pre)>code[class*="language-"],
pre[class*="language-"] {
  border-radius: 10px !important;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  background-color: var(--bgLighter) !important;
  border: 4px solid var(--textLink);
}

code:not([class*="language-"]) {
  background-color: var(--bgLighter);
  color: var(--textLink);
  padding: .10em .5em;
  border-radius: .25em;
}

small {
  font-size: 80%;
}

.flex {
  display: flex;
  &--center {
    align-items: center;
  }
}

.dot {
  padding: 0 .5em;
}

.meta {
  display: flex;
  align-items: center;
  &__date {
    color: var(--textSubtitle);
  }
}

/* Color */

.text-normal {
  color: var(--textNormal);
}

.text-title {
  color: var(--textTitle);
}

.text-subtitle {
  color: var(--textSubtitle);
}

.text-link {
  color: var(--textLink);
}

.text-highlight {
  color: var(--textHighlight);
}

.text-warning {
  color: var(--textWarning);
}

.text-danger {
  color: var(--textDanger);
}

.text-secondary {
  color: var(--textSecondary);
}

/* Spacing */

.space-bottom {
  margin-bottom: 1em;
}

@-webkit-keyframes zoomIn {
  from {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }
  50% {
    opacity: 1;
  }
}

@keyframes zoomIn {
  from {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }
  50% {
    opacity: 1;
  }
}

.zoomIn {
  -webkit-animation-name: zoomIn;
  animation-name: zoomIn;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

/* override prism theme */
.token.keyword {
  color: var(--textLink) !important;
  font-style: italic;
}
.token.operator, .token.entity, .token.url, .language-css .token.string, .style .token.string, .token.variable,
.token.boolean, .token.number {
  color: var(--textSubtitle) !important;
}
.token.property, .token.tag, .token.constant, .token.symbol, .token.deleted {
  color: var(--textHighlight) !important;
}
.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
  color: var(--textTitle) !important;
}

.token.comment, .token.prolog, .token.doctype, .token.cdata {
  color: var(--textSecondary) !important;
  font-style: italic;
}
