$mobile-breakpoint: 640px;

:root {
  /* color pallete from https://github.com/dracula/dracula-theme */
  --bg: #282a36;
  --bgLighter: #44475a;
  --textNormal: #f8f8f2;
  --textTitle: #50fa7b;
  --textSubtitle: #8be9fd;
  --textLink: #bd93f9;
  --textHighlight: #ff79c6;
  --textWarning: #f1fa8c;
  --textDanger: #ff5555;
  --textSecondary: #6272a4;
}

body {
  font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  font-size: 16px;

  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  color: var(--textNormal);
  background-color: var(--bg);
}

.container {
  margin-left: auto;
  margin-right: auto;
  max-width: 42rem;
  padding: 2.625rem 1.3125rem;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

a {
  color: var(--textLink);
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

blockquote {
  font-style: italic;
  border-left: 4px solid var(--textSecondary);
  color: var(--textSecondary);
  margin: 0;
  padding: .25em 1em;
  font-size: 110%;
}

small {
  font-size: 80%;
}

table{
  display: block;
  overflow: auto;
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;

  th{
    border: 1px solid #dfe2e5;
    padding: 13px;
    font-weight: 700;
  }

  tr{
    td{
      border: 1px solid #c6cbd1;
      padding: 8px 13px;
      text-align: left;
    }
  }

  tr:nth-child(2n) {
    background-color: #3c3e50;
  }
}

:not(pre)>code[class*="language-"],
pre[class*="language-"] {
  border-radius: 10px;
  box-shadow: 0px 0px 8px 4px rgba(0, 0, 0, 0.2);
  background-color: var(--bgLighter);
}

code:not([class*="language-"]) {
  background-color: var(--bgLighter);
  color: var(--textLink);
  padding: .10em .5em;
  border-radius: .25em;
}

pre {
  max-width: 100%;
  overflow: auto;
}

.flex {
  display: flex;
  &--center {
    align-items: center;
  }
}

.dot {
  padding: 0 .5em;
}

.wrapper{
  margin: 1em 0 0 0;
  min-height: 60vh;
}

.meta {
  display: flex;
  align-items: center;

  &__date {
    color: var(--textSubtitle);
  }

  &--desktop {
    @media screen and (max-width: $mobile-breakpoint){
      display: none;
    }
  }
  &--mobile {
    display: none;
    @media screen and (max-width: $mobile-breakpoint){
      display: block;
    }
  }
}

/* Spacing */
.space-bottom {
  margin-bottom: 1em;
}

.footer {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

@-webkit-keyframes zoomIn {
  from {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }
  50% {
    opacity: 1;
  }
}

@keyframes zoomIn {
  from {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }
  50% {
    opacity: 1;
  }
}

.zoomIn {
  -webkit-animation-name: zoomIn;
  animation-name: zoomIn;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}


/* Query for mobile only*/
@media screen and (max-width: $mobile-breakpoint){
}

/* Query for desktop only*/
@media screen and (min-width: $mobile-breakpoint){
}

@import 'text';
@import 'component';
